<section class="blog-top">
  <div class="container">
    <h4><img class="quote-l" src="images/quote-l.png" alt=""> Omecto is a platform for creating new connections anytime, anywhere in a formal or informal way. People use Omecto to host & join events, reach targeted audiences, meet new people, find support, solve a problem and pursue their passions, together.<img class="quote-r" src="images/quote-r.png" alt=""> </h4>
  </div>
</section>
<section class="main-blog">
  <section class="container">
    <div class="row">
      <% @blogs.each_with_index do |blog, i| %>
        <div class="col-lg-4 col-md-6">
          <div class="blog-post <%= [:pinktxt, :bluetxt, :greytxt][i%3] %>">
            <figure><img src=<%= blog.image %> alt=""></figure>
            <div class="blog-post-text">
              <h3><%= link_to blog.title, blog %></h3>
              <div class="date1"><%= "on " + blog.created_at.strftime("%b %-d, %Y %H:%M")%></div>
              <p><%= blog.body.truncate(125) %> <%= link_to "{more}", blog %></p>
              <div class="row">
                <div class="col-md-1 col-2 grey-icon"><i class="fa fa-sticky-note" aria-hidden="true"></i></div>
                <div class="col-md-5 col-6 commtext"><a href="#">24 comments</a></div>
                <div class="col-md-5 col-4 text-right pink-profile">
                  <%= link_to events_path do %>
                    <i class="fa fa-user-o"></i>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </section>
</section>
<section class="container">
  <section class="ome-join row m-0">
    <div class="col-lg-8 col-md-6 offset-lg-1">
      <h3>Find and Join Social</h3>
    </div>
    <div class="col-lg-3 col-md-6 social-links"> <a href="#"><i class="fa fa-instagram"></i></a> <a href="#"><i class="fa fa-youtube"></i></a></div>
  </section>
</section>
<section class="post-carousel">
  <div class="container-fluid">
    <h2>Want to do more of what you love?</h2>
    <div class="slider responsive">
      <div>
        <div class="post-block">
          <div class="post-c-image"><a href="#"><img src="images/post-thub.jpg" alt=""></a></div>
          <div class="post-c-text">
            <h3><a href="#">Discover events</a></h3>
            <p>See who’s hosting local events for all the
              things you love.</p>
            <h5><a href="#">JOIN OMECTO</a></h5>
          </div>
        </div>
      </div>
      <div>
        <div class="post-block">
          <div class="post-c-image"><a href="#"><img src="images/post-thub2.jpg" alt=""></a></div>
          <div class="post-c-text">
            <h3><a href="#">Start an Event</a></h3>
            <p>Create your own event, and draw
              from a community of millions.</p>
            <h5><a href="#">start an event</a></h5>
          </div>
        </div>
      </div>
      <div>
        <div class="post-block">
          <div class="post-c-image"><a href="#"><img src="images/post-thub.jpg" alt=""></a></div>
          <div class="post-c-text">
            <h3><a href="#">Discover events</a></h3>
            <p>See who’s hosting local events for all the
              things you love.</p>
            <h5><a href="#">JOIN OMECTO</a></h5>
          </div>
        </div>
      </div>
      <div>
        <div class="post-block">
          <div class="post-c-image"><a href="#"><img src="images/post-thub2.jpg" alt=""></a></div>
          <div class="post-c-text">
            <h3><a href="#">Start an Event</a></h3>
            <p>Create your own event, and draw
              from a community of millions.</p>
            <h5><a href="#">start an event</a></h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section-follow">
  <div class="container">
    <h3>Follow Omecto</h3>
    <div class="follow"><a href="#"><img src="images/utube.png" alt=""></a> <a href="#"><img src="images/instagram.png" alt=""></a> </div>
  </div>
</section>
