<section class="blog-single event-creation1">
  <div class="container">
      <div class="blog-details">
        <article class="event-creation">

          <%= form_with(model: event, local: true) do |form| %>
            <h5>What do you want to do ?</h5>

            <% if event.errors.any? %>
              <div id="error_explanation">
                <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

                <ul>
                <% event.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
                </ul>
              </div>
            <% end %>

            <%= form.text_field :title, class: "form-control", placeholder: "Name your social, make it descriptive!" %>

            <h5>What's your socials about ? Select up to 2 Categories.</h5>
            <p class="red">Choose at least one category</p>
            <div class="icons-sec">
              <div class="row">
                <% @categories.each do |category| %>
                  <div class="col-sm-6 border">
                    <div class="row">
                      <div class="col-md-2 col-3 icon-img"><img src=<%= category[:image] %> alt=""></div>
                      <div class="col-md-8 col-7"><%= category[:title] %></div>
                      <div class="col-md-2 col-2">
                        <%= form.check_box :foo, class: "category-box" %>
                      </div>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>

            <%= form.text_area :description, class: "form-control", placeholder: "Tell us more about your social" %>

            <%= form.text_field :city, placeholder: "London", class: "form-control" %>

            <%= form.text_field :address, placeholder: "Pick A Venue", class: "form-control" %>

            <h5>or <input name="confirm" type="checkbox" value="Yes"> I'll confirm the venue later</h5>

            <%= form.datetime_select :date, placeholder: "Enter a Date", class: "form-control" %>

            <div class="actions">
              <%= form.submit %>
            </div>
          <% end %>

        </article>
      </div>
      <section class="ome-join row m-0">
        <div class="col-lg-8 col-md-6 offset-lg-1">
          <h3>Find and Join Social</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            Aenean euismod bibendum laoreet.</p>
        </div>
        <div class="col-lg-3 col-md-6 social-links"> <a href="#"><i class="fa fa-instagram"></i></a> <a href="#"><i class="fa fa-youtube"></i></a></div>
      </section>
    </div>
</section>
<section class="post-carousel">
  <div class="container-fluid">
    <h2>Want to do more of what you love?</h2>
    <div class="slider responsive">
      <div>
        <div class="post-block">
          <div class="post-c-image"><a href="#"><img src="/images/post-thub.jpg" alt=""></a></div>
          <div class="post-c-text">
            <h3><a href="#">Discover events</a></h3>
            <p>See who’s hosting local events for all the
              things you love.</p>
            <h5><a href="#">JOIN OMECTO</a></h5>
          </div>
        </div>
      </div>
      <div>
        <div class="post-block">
          <div class="post-c-image"><a href="#"><img src="/images/post-thub2.jpg" alt=""></a></div>
          <div class="post-c-text">
            <h3><a href="#">Start an Event</a></h3>
            <p>Create your own event, and draw
              from a community of millions.</p>
            <h5><a href="#">start an event</a></h5>
          </div>
        </div>
      </div>
      <div>
        <div class="post-block">
          <div class="post-c-image"><a href="#"><img src="/images/post-thub.jpg" alt=""></a></div>
          <div class="post-c-text">
            <h3><a href="#">Discover events</a></h3>
            <p>See who’s hosting local events for all the
              things you love.</p>
            <h5><a href="#">JOIN OMECTO</a></h5>
          </div>
        </div>
      </div>
      <div>
        <div class="post-block">
          <div class="post-c-image"><a href="#"><img src="/images/post-thub2.jpg" alt=""></a></div>
          <div class="post-c-text">
            <h3><a href="#">Start an Event</a></h3>
            <p>Create your own event, and draw
              from a community of millions.</p>
            <h5><a href="#">start an event</a></h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section-follow">
  <div class="container">
    <h3>Follow Omecto</h3>
    <div class="follow"><a href="#"><img src="/images/utube.png" alt=""></a> <a href="#"><img src="/images/instagram.png" alt=""></a></div>
  </div>
</section>
