<section class="blog-single event-creation1">
  <div class="container">
      <div class="blog-details">
        <article class="event-creation">

          <%= form_with(model: event, local: true) do |form| %>
            <h5>What do you want to do ?</h5>

            <% if event.errors.any? %>
              <div id="error_explanation">
                <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

                <ul>
                <% event.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
                </ul>
              </div>
            <% end %>

            <%= form.text_field :title, class: "form-control", placeholder: "Name your social, make it descriptive!" %>

            <h5>What's your socials about ? Select up to 2 Categories.</h5>
            <p class="red">Choose at least one category</p>
            <div class="icons-sec">
              <div class="row">
                <div class="col-sm-6 border">
                  <div class="row">
                    <div class="col-md-2 col-3 icon-img"><img src="/images/event-icon1.png" alt=""></div>
                    <div class="col-md-8 col-7">Food &amp; Drinks</div>
                    <div class="col-md-2 col-2">
                      <input name="food" type="checkbox" value="Food &amp; Drinks">
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 border">
                  <div class="row">
                    <div class="col-md-2 col-3 icon-img"><img src="/images/event-icon2.png" alt=""></div>
                    <div class="col-md-8 col-7">Night Life</div>
                    <div class="col-md-2 col-2">
                      <input name="night-life" type="checkbox" value="Night Life">
                    </div>
                  </div>
                </div>
              </div>
              <div class="row marg-top-10">
                <div class="col-sm-6 border">
                  <div class="row">
                    <div class="col-md-2 col-3 icon-img"><img src="/images/event-icon3.png" alt=""></div>
                    <div class="col-md-8 col-7">Outdoors &amp; Adventure</div>
                    <div class="col-md-2 col-2">
                      <input name="adventure" type="checkbox" value="Outdoors &amp; Adventure">
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 border">
                  <div class="row">
                    <div class="col-md-2 col-3 icon-img"><img src="/images/event-icon4.png" alt=""></div>
                    <div class="col-md-8 col-7">Tech</div>
                    <div class="col-md-2 col-2">
                      <input name="tech" type="checkbox" value="Tech">
                    </div>
                  </div>
                </div>
              </div>
              <div class="row marg-top-10">
                <div class="col-sm-6 border">
                  <div class="row">
                    <div class="col-md-2 col-3 icon-img"><img src="/images/event-icon5.png" alt=""></div>
                    <div class="col-md-8 col-7">Self Improvement</div>
                    <div class="col-md-2 col-2">
                      <input name="simprove" type="checkbox" value="Self Improvement">
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 border">
                  <div class="row">
                    <div class="col-md-2 col-3 icon-img"><img src="/images/event-icon6.png" alt=""></div>
                    <div class="col-md-8 col-7">Sports</div>
                    <div class="col-md-2 col-2">
                      <input name="sports" type="checkbox" value="Sports">
                    </div>
                  </div>
                </div>
              </div>
              <div class="row marg-top-10">
                <div class="col-sm-6 border">
                  <div class="row">
                    <div class="col-md-2 col-3 icon-img"><img src="/images/event-icon7.png" alt=""></div>
                    <div class="col-md-8 col-7">Learning</div>
                    <div class="col-md-2 col-2">
                      <input name="learning" type="checkbox" value="Learning">
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 border">
                  <div class="row">
                    <div class="col-md-2 col-3 icon-img"><img src="/images/event-icon8.png" alt=""></div>
                    <div class="col-md-8 col-7">Travel</div>
                    <div class="col-md-2 col-2">
                      <input name="travel" type="checkbox" value="Travel">
                    </div>
                  </div>
                </div>
              </div>
              <div class="row marg-top-10">
                <div class="col-sm-6 border">
                  <div class="row">
                    <div class="col-md-2 col-3 icon-img"><img src="/images/event-icon9.png" alt=""></div>
                    <div class="col-md-8 col-7">Music &amp; Dance</div>
                    <div class="col-md-2 col-2">
                      <input name="music" type="checkbox" value="Music &amp; Dance">
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 border">
                  <div class="row">
                    <div class="col-md-2 col-3 icon-img"><img src="/images/event-icon10.png" alt=""></div>
                    <div class="col-md-8 col-7">Single's Only</div>
                    <div class="col-md-2 col-2">
                      <input name="single" type="checkbox" value="Single's Only">
                    </div>
                  </div>
                </div>
              </div>
              <div class="row marg-top-10">
                <div class="col-sm-6 border">
                  <div class="row">
                    <div class="col-md-2 col-3 icon-img"><img src="/images/event-icon11.png" alt=""></div>
                    <div class="col-md-8 col-7">Family</div>
                    <div class="col-md-2 col-2">
                      <input name="family" type="checkbox" value="Family">
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 border">
                  <div class="row">
                    <div class="col-md-2 col-3 icon-img"><img src="/images/event-icon12.png" alt=""></div>
                    <div class="col-md-8 col-7">Health &amp; Wellness</div>
                    <div class="col-md-2 col-2">
                      <input name="health" type="checkbox" value="Health &amp; Wellness">
                    </div>
                  </div>
                </div>
              </div>
              <div class="row marg-top-10">
                <div class="col-sm-6 border">
                  <div class="row">
                    <div class="col-md-2 col-3 icon-img"><img src="/images/event-icon13.png" alt=""></div>
                    <div class="col-md-8 col-7">Hobbies &amp; Crafts</div>
                    <div class="col-md-2 col-2">
                      <input name="hobbies" type="checkbox" value="Hobbies &amp; Crafts">
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 border">
                  <div class="row">
                    <div class="col-md-2 col-3 icon-img"><img src="/images/event-icon14.png" alt=""></div>
                    <div class="col-md-8 col-7">Fashion &amp; Beauty</div>
                    <div class="col-md-2 col-2">
                      <input name="fashion" type="checkbox" value="Fashion &mp; Beauty">
                    </div>
                  </div>
                </div>
              </div>
              <div class="row marg-top-10">
                <div class="col-sm-6 border">
                  <div class="row">
                    <div class="col-md-2 col-3 icon-img"><img src="/images/event-icon15.png" alt=""></div>
                    <div class="col-md-8 col-7">Film</div>
                    <div class="col-md-2 col-2">
                      <input name="film" type="checkbox" value="Film">
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 border">
                  <div class="row">
                    <div class="col-md-2 col-3 icon-img"><img src="/images/event-icon16.png" alt=""></div>
                    <div class="col-md-8 col-7">Beliefs</div>
                    <div class="col-md-2 col-2">
                      <input name="beliefs" type="checkbox" value="Beliefs">
                    </div>
                  </div>
                </div>
              </div>
              <div class="row marg-top-10">
                <div class="col-sm-6 border">
                  <div class="row">
                    <div class="col-md-2 col-3 icon-img"><img src="/images/event-icon17.png" alt=""></div>
                    <div class="col-md-8 col-7">LGBTQ</div>
                    <div class="col-md-2 col-2">
                      <input name="lgbtq" type="checkbox" value="LGBTQ">
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 border">
                  <div class="row">
                    <div class="col-md-2 col-3 icon-img"><img src="/images/event-icon18.png" alt=""></div>
                    <div class="col-md-8 col-7">Language &amp; Culture</div>
                    <div class="col-md-2 col-2">
                      <input name="culture" type="checkbox" value="Language &amp; Culture">
                    </div>
                  </div>
                </div>
              </div>
              <div class="row marg-top-10">
                <div class="col-sm-6 border">
                  <div class="row">
                    <div class="col-md-2 col-3 icon-img"><img src="/images/event-icon19.png" alt=""></div>
                    <div class="col-md-8 col-7">Photography</div>
                    <div class="col-md-2 col-2">
                      <input name="photography" type="checkbox" value="Photography">
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 border">
                  <div class="row">
                    <div class="col-md-2 col-3 icon-img"><img src="/images/event-icon20.png" alt=""></div>
                    <div class="col-md-8 col-7">Book Club</div>
                    <div class="col-md-2 col-2">
                      <input name="book" type="checkbox" value="Book Club">
                    </div>
                  </div>
                </div>
              </div>
              <div class="row marg-top-10">
                <div class="col-sm-6 border">
                  <div class="row">
                    <div class="col-md-2 col-3 icon-img"><img src="/images/event-icon21.png" alt=""></div>
                    <div class="col-md-8 col-7">Pets</div>
                    <div class="col-md-2 col-2">
                      <input name="pets" type="checkbox" value="Pets">
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 border">
                  <div class="row">
                    <div class="col-md-2 col-3 icon-img"><img src="/images/event-icon22.png" alt=""></div>
                    <div class="col-md-8 col-7">Arts</div>
                    <div class="col-md-2 col-2">
                      <input name="arts" type="checkbox" value="Arts">
                    </div>
                  </div>
                </div>
              </div>
              <div class="row marg-top-10">
                <div class="col-sm-6 border">
                  <div class="row">
                    <div class="col-md-2 col-3 icon-img"><img src="/images/event-icon23.png" alt=""></div>
                    <div class="col-md-8 col-7">Seminar &amp; Talks</div>
                    <div class="col-md-2 col-2">
                      <input name="seminar" type="checkbox" value="Seminar &amp; Talks">
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 border">
                  <div class="row">
                    <div class="col-md-2 col-3 icon-img"><img src="/images/event-icon24.png" alt=""></div>
                    <div class="col-md-8 col-7">Freelance Community</div>
                    <div class="col-md-2 col-2">
                      <input name="fcommunity" type="checkbox" value="Freelance Community">
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <%= form.text_area :description, class: "form-control", placeholder: "Tell us more about your social" %>

            <%= form.text_field :city, placeholder: "London", class: "form-control" %>

            <%= form.text_field :address, placeholder: "Pick A Venue", class: "form-control" %>

            <h5>or <input name="confirm" type="checkbox" value="Yes"> I'll confirm the venue later</h5>

            <%= form.datetime_select :date, placeholder: "Enter a Date", class: "form-control" %>

            <div class="actions">
              <%= form.submit %>
            </div>
          <% end %>

        </article>
      </div>
      <section class="ome-join row m-0">
        <div class="col-lg-8 col-md-6 offset-lg-1">
          <h3>Find and Join Social</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            Aenean euismod bibendum laoreet.</p>
        </div>
        <div class="col-lg-3 col-md-6 social-links"> <a href="#"><i class="fa fa-instagram"></i></a> <a href="#"><i class="fa fa-youtube"></i></a></div>
      </section>
    </div>
</section>
<section class="post-carousel">
  <div class="container-fluid">
    <h2>Want to do more of what you love?</h2>
    <div class="slider responsive">
      <div>
        <div class="post-block">
          <div class="post-c-image"><a href="#"><img src="/images/post-thub.jpg" alt=""></a></div>
          <div class="post-c-text">
            <h3><a href="#">Discover events</a></h3>
            <p>See who’s hosting local events for all the
              things you love.</p>
            <h5><a href="#">JOIN OMECTO</a></h5>
          </div>
        </div>
      </div>
      <div>
        <div class="post-block">
          <div class="post-c-image"><a href="#"><img src="/images/post-thub2.jpg" alt=""></a></div>
          <div class="post-c-text">
            <h3><a href="#">Start an Event</a></h3>
            <p>Create your own event, and draw
              from a community of millions.</p>
            <h5><a href="#">start an event</a></h5>
          </div>
        </div>
      </div>
      <div>
        <div class="post-block">
          <div class="post-c-image"><a href="#"><img src="/images/post-thub.jpg" alt=""></a></div>
          <div class="post-c-text">
            <h3><a href="#">Discover events</a></h3>
            <p>See who’s hosting local events for all the
              things you love.</p>
            <h5><a href="#">JOIN OMECTO</a></h5>
          </div>
        </div>
      </div>
      <div>
        <div class="post-block">
          <div class="post-c-image"><a href="#"><img src="/images/post-thub2.jpg" alt=""></a></div>
          <div class="post-c-text">
            <h3><a href="#">Start an Event</a></h3>
            <p>Create your own event, and draw
              from a community of millions.</p>
            <h5><a href="#">start an event</a></h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section-follow">
  <div class="container">
    <h3>Follow Omecto</h3>
    <div class="follow"><a href="#"><img src="/images/utube.png" alt=""></a> <a href="#"><img src="/images/instagram.png" alt=""></a></div>
  </div>
</section>
