<section class="inner-banner"> <img src="/images/citybg.jpg" alt="">
  <section class="inner-banner-text">
    <h1><strong>Omecto</strong> Connects People Locally</h1>
    <p>Omecto is a platform for creating new connections anytime, anywhere in a formal or informal way. People use Omecto to host & join events,reach targeted audiences, meet new people, find support, solve a problem and pursue their passions, together.</p>
    <a href="#" class="joinbtn">Join Omecto</a> </section>
</section>
<section class="container">
  <section class="search-sec">
    <section class="search-sec1">
      <div class="row text-left">
        <div class="col">
          <%= form_tag "/search", method: :get do %>
            <div class="row">
              <div class="col-md-4">
                <div class="search-div">
                  <%= text_field_tag :word, @word, placeholder: :search %>
                  <%= submit_tag("") %>
                </div>
              </div>
              <div class="col-md-8 search-text text-left">
                в радиусе &nbsp;
                <%= text_field_tag :distance, @distance, size: 5 %>
                &nbsp; км от &nbsp;
                <%= text_field_tag :city, @city, placeholder: :город %>
              </div>
            </div>
          <% end %>
        </div>


      </div>
    </section>
  </section>
</section>
<section class="explore-city">
  <section class="container">
    <div class="row">
      <div class="col-md-6">
        <h3><a href="#">sort by best match</a></h3>
        <%= @selected_events %>
      </div>
      <div class="col-md-6 text-right">
        <h3><a href="#">explore more <img src="/images/arrow1.png" alt=""></a></h3>
      </div>
    </div>
    <section class="events-cate">
      <ul class="row categories-all">
        <% @events.each do |event| %>
          <li class="col-lg-4 col-md-4 col-sm-6">
            <div class="cat-wrap">
              <a href="" data-toggle="modal" data-target="#event<%= event.id %>">
                <% if event.image.attached? %>
                  <img src=<%= url_for(event.image) %> alt="">
                <% else %>
                  <img src='/images/city26.jpg' alt="">
                <% end %>
                <a class="zoom1" href="">
                  <img src="/images/zoom.png" alt="">
                </a>
                <div class="hover1">
                  <a href="" data-toggle="modal" data-target="#event<%= event.id %>">
                    <%= event.title %>
                  </a>
                  <%= event.users.length + 1 %> members
                </div>
              </a>
            </div>
          </li>
        <% end %>
      </ul>
    </section>
  </section>
</section>
<% @events.each do |event| %>
  <div class="modal events-popup" id="event<%= event.id %>" role="dialog" style="display: none;">
    <div class="modal-dialog new-modal">
      <div class="modal-content">
        <div class="modal-header no-border">
          <button type="button" class="close" data-dismiss="modal">×</button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-5">
              <% if event.image.attached? %>
                <img src=<%= url_for(event.image) %> alt="">
              <% else %>
                <img src='/images/city26.jpg' alt="">
              <% end %>
            </div>
            <div class="col-md-7">
              <!-- <h3>Events Schedule</h3>
              <h4>sponsor club kim</h4> -->
              <h5><%= event.title %></h5>
              <p style="color:#000;"><%= "#{event.user.first_name} #{event.user.last_name}" %></p>
              <p class="greytext"><%= event.description %></p>
              <p><i class="fa fa-clock-o" aria-hidden="true"></i><%= event.date.strftime("%H:%M") %></p>
              <p><i class="fa fa-calendar-check-o" aria-hidden="true"></i><%= event.date.strftime("%-d %b %Y") %></p>
              <p class="text-uppercase"><i class="fa fa-map-marker" aria-hidden="true"></i><%= "#{event.location.city}, #{event.address}" %></p>
              <% if user_signed_in? %>
                <% if @participations.where(user_id: current_user.id, event_id: event.id).any? %>
                  <p>You already joined this event</p>
                <% elsif current_user.id != event.user.id %>
                  <div class="row marg-top-10">
                    <div class="col-md-6 text-center">
                      <%= link_to new_participation_path(user_id: current_user.id, event_id: event.id) do %>
                        <img src="/images/join.jpg" alt="">
                      <% end %>
                    </div>
                    <div class="col-md-6">
                      <a href="javascript: void(0)" class="cancel-btn" data-dismiss="modal">Cancel</a>
                    </div>
                  </div>
                <% end %>
              <% else %>
                <div class="row marg-top-10">
                  <div class="col-md-6 text-center">
                    <%= link_to new_user_session_path do %>
                      <img src="/images/join.jpg" alt="">
                    <% end %>
                  </div>
                  <div class="col-md-6">
                    <a href="javascript: void(0)" class="cancel-btn" data-dismiss="modal">Cancel</a>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
<section class="join-social-sec">
  <section class="container">
    <section class="ome-join row m-0">
      <div class="col-lg-8 col-md-6 offset-lg-1">
        <h3>Find and Join Social</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
          Aenean euismod bibendum laoreet.</p>
      </div>
      <div class="col-lg-3 col-md-6 social-links"> <a href="#"><i class="fa fa-instagram"></i></a> <a href="#"><i class="fa fa-youtube"></i></a></div>
    </section>
  </section>
</section>
<section class="post-carousel">
  <div class="container-fluid">
    <h2>Want to do more of what you love?</h2>
    <div class="slider responsive">
      <div>
        <div class="post-block">
          <div class="post-c-image"><a href="#"><img src="/images/post-thub.jpg" alt=""></a></div>
          <div class="post-c-text">
            <h3><a href="#">Discover events</a></h3>
            <p>See who’s hosting local events for all the
              things you love.</p>
            <h5><a href="#">JOIN OMECTO</a></h5>
          </div>
        </div>
      </div>
      <div>
        <div class="post-block">
          <div class="post-c-image"><a href="#"><img src="/images/post-thub2.jpg" alt=""></a></div>
          <div class="post-c-text">
            <h3><a href="#">Start an Event</a></h3>
            <p>Create your own event, and draw
              from a community of millions.</p>
            <h5><a href="#">start an event</a></h5>
          </div>
        </div>
      </div>
      <div>
        <div class="post-block">
          <div class="post-c-image"><a href="#"><img src="/images/post-thub.jpg" alt=""></a></div>
          <div class="post-c-text">
            <h3><a href="#">Discover events</a></h3>
            <p>See who’s hosting local events for all the
              things you love.</p>
            <h5><a href="#">JOIN OMECTO</a></h5>
          </div>
        </div>
      </div>
      <div>
        <div class="post-block">
          <div class="post-c-image"><a href="#"><img src="/images/post-thub2.jpg" alt=""></a></div>
          <div class="post-c-text">
            <h3><a href="#">Start an Event</a></h3>
            <p>Create your own event, and draw
              from a community of millions.</p>
            <h5><a href="#">start an event</a></h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section-follow">
  <div class="container">
    <h3>Follow Omecto</h3>
    <div class="follow"><a href="#"><img src="/images/utube.png" alt=""></a> <a href="#"><img src="/images/instagram.png" alt=""></a> </div>
  </div>
</section>
