<section class="inner-banner"> <img src="/images/citybg.jpg" alt="">
  <section class="inner-banner-text">
    <h1><strong>Omecto</strong> Connects People Locally</h1>
    <p>Omecto is a platform for creating new connections anytime, anywhere in a formal or informal way. People use Omecto to host & join events,reach targeted audiences, meet new people, find support, solve a problem and pursue their passions, together.</p>
    <a href="#" class="joinbtn">Join Omecto</a> </section>
</section>
<section class="container">
  <section class="search-sec">
    <section class="search-sec1">
      <div class="row text-left">
        <div class="col">
          <%= form_tag "/events", method: :get, remote: true do %>
            <div class="row">
              <div class="col-md-3">
                <div class="search-div">
                  <%= text_field_tag :word, @word, placeholder: :search %>
                  <%= submit_tag("") %>
                </div>
              </div>
              <div class="col-md-6 search-text">
                в радиусе &nbsp;
                <%= select_tag :distance, options_for_select(@distances, @distance || 50) %>
                &nbsp; от &nbsp;
                <%= text_field_tag :city, @city, placeholder: :город, id: 'searchTextField' %>
              </div>
              <div class="col-md-3">
                <div class="col-md padd-0"><%= submit_tag("Искать", class: "groups-btn") %></div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </section>
  </section>
</section>
<section class="explore-city">
  <section class="container">
    <div class="row">
      <div class="col-md-6">
        <h3><a href="#">sort by best match</a></h3>
      </div>
      <div class="col-md-6 text-right">
        <h3><a href="#">explore more <img src="/images/arrow1.png" alt=""></a></h3>
      </div>
    </div>
    <section class="events-cate">
      <%= render 'events' %>
    </section>
  </section>
</section>
<div class="events-modals">
  <%= render 'modals' %>
</div>
<section class="join-social-sec">
  <section class="container">
    <section class="ome-join row m-0">
      <div class="col-lg-8 col-md-6 offset-lg-1">
        <h3>Find and Join Social</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
          Aenean euismod bibendum laoreet.</p>
      </div>
      <div class="col-lg-3 col-md-6 social-links"> <a href="#"><i class="fa fa-instagram"></i></a> <a href="#"><i class="fa fa-youtube"></i></a></div>
    </section>
  </section>
</section>
<section class="post-carousel">
  <div class="container-fluid">
    <h2>Want to do more of what you love?</h2>
    <div class="slider responsive">
      <div>
        <div class="post-block">
          <div class="post-c-image"><a href="#"><img src="/images/post-thub.jpg" alt=""></a></div>
          <div class="post-c-text">
            <h3><a href="#">Discover events</a></h3>
            <p>See who’s hosting local events for all the
              things you love.</p>
            <h5><a href="#">JOIN OMECTO</a></h5>
          </div>
        </div>
      </div>
      <div>
        <div class="post-block">
          <div class="post-c-image"><a href="#"><img src="/images/post-thub2.jpg" alt=""></a></div>
          <div class="post-c-text">
            <h3><a href="#">Start an Event</a></h3>
            <p>Create your own event, and draw
              from a community of millions.</p>
            <h5><a href="#">start an event</a></h5>
          </div>
        </div>
      </div>
      <div>
        <div class="post-block">
          <div class="post-c-image"><a href="#"><img src="/images/post-thub.jpg" alt=""></a></div>
          <div class="post-c-text">
            <h3><a href="#">Discover events</a></h3>
            <p>See who’s hosting local events for all the
              things you love.</p>
            <h5><a href="#">JOIN OMECTO</a></h5>
          </div>
        </div>
      </div>
      <div>
        <div class="post-block">
          <div class="post-c-image"><a href="#"><img src="/images/post-thub2.jpg" alt=""></a></div>
          <div class="post-c-text">
            <h3><a href="#">Start an Event</a></h3>
            <p>Create your own event, and draw
              from a community of millions.</p>
            <h5><a href="#">start an event</a></h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section-follow">
  <div class="container">
    <h3>Follow Omecto</h3>
    <div class="follow"><a href="#"><img src="/images/utube.png" alt=""></a> <a href="#"><img src="/images/instagram.png" alt=""></a> </div>
  </div>
</section>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB70MmakmCuRJl08Njf9z0Itv-nYf-DOPY&libraries=places"></script>
<script>
  function initialize() {
    var options = {
      types: ['(cities)'],
    };

    var input = document.getElementById('searchTextField');
    var autocomplete = new google.maps.places.Autocomplete(input, options);
  }

  google.maps.event.addDomListener(window, 'load', initialize);
</script>
