<!DOCTYPE html>
<html>
  <head>
    <title>Omecto</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
    <script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>
    <%= favicon_link_tag asset_path('favicon.png') %>
    <script>
      $(document).ready(function(){
        $('.bxslider').bxSlider({
          mode: 'fade',
          pagerCustom: '#bx-pager',
          adaptiveHeight: true
        });
        $('.bannerslider').bxSlider({
          mode: 'horizontal',
          moveSlides: 1,
          slideMargin: 40,
          infiniteLoop: true,
          auto: true,
          minSlides: 1,
          maxSlides: 1,
          speed: 800,
       });
        $('.grouplider').bxSlider({
          mode: 'horizontal',
          moveSlides: 1,
          slideMargin: 40,
          infiniteLoop: true,
          auto: true,
          minSlides: 1,
          maxSlides: 1,
          speed: 600,
          autoDelay: 500,
       });
         
      });
    </script>
  </head>

  <body>
    <%= render "layouts/header" %>
    <%= yield %>
  </body>
</html>
